body {
    font-family: sans-serif;
    /* margin: 0%; Ao término de tudo, zerar a margem */
}

.main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 97vw;
    height: 98vh;
    border: solid 2px black; /* Ao se comentar esta linha a bordar some*/
}

.nav-bar {
    display: flex;
    position: relative;
    width: 85%;
    height: 10%;
    border: solid 2px green; /* Ao se comentar esta linha a bordar some*/
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border: solid 2px red; /* Ao se comentar esta linha a bordar some*/
}

.center {
    display: flex;
    position:absolute;
    bottom: 0%;
    left: 15%;
    width: 64.5%; /* Quando deletar a borda, arredondar para 65% */
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px blue; /* Ao se comentar esta linha a bordar some*/
}

.right-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0%;
    right: 0%;
    width: 20%;
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px purple; /* Ao se comentar esta linha a bordar some */
}