body {
    font-family: sans-serif;
    background-color: rgb(250, 249, 248);
    /* margin: 0%; Ao término de tudo, zerar a margem */
}

.main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 97vw;
    height: 98vh;
    border: solid 2px black; /* Ao se comentar esta linha a bordar some*/
}

.nav-bar {
    display: flex;
    position: relative;
    width: 85%;
    height: 10%;
    border: solid 2px green; /* Ao se comentar esta linha a bordar some*/
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border: solid 2px red; /* Ao se comentar esta linha a bordar some*/
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom: 0%;
    left: 15%;
    width: 64.5%; /* Quando deletar a borda, arredondar para 65% */
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px blue; /* Ao se comentar esta linha a bordar some*/
}

.center-main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%; /* Quando deletar a borda, arredondar para 65% */
    height: 100%; /* Quando deletar a borda, arredondar para 90% */
}

.center-main-box-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    margin: 1%;
}

.date {
    display: flex;
    width: 93%;
    padding-top: 1%;
    /* padding-left: 0%; */
    margin-bottom: 1%;
}

#date {
    font-size: 14px;
    border: none;
    border-radius: 5%;
    background-color: rgba(197, 196, 196, 0.452);
}

input#date {
    color: rgba(175, 175, 175, 0.979);
    cursor: pointer;
    padding: 0.5%;
}

.center-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    height: 70%;
}

.center-cards {
    display: flex;
    align-items: center;
    width: 25%;
    height: 75%;
    padding: 2%;
    background-color: white;
    opacity: 70%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center-card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
}

.card-left-top {
    display: flex;
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
}

.icon-background1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    color: white;
    background-color: #7182E9;
    border-radius: 75%;
}

.icon-background2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    color: white;
    background-color: #F77A86;
    border-radius: 75%;
}

.icon-background3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    color: white;
    background-color: #4DE8B3;
    border-radius: 75%;
}

p {
    margin: 0%;
}

.card-left-middle-container {
    width: 100%;
    height: 33%;
}

.card-left-submiddle1 {
    min-width: 100%;
    height: 50%;
    color: black;
}

.p2 {
    font-size: 12px;
}

.card-left-submiddle2 {
    width: 100%;
    height: 50%;
    color: black;
}

.p3 {
    font-weight: bolder;
}

.card-left-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    height: 33%;
    color: black;
}

.p4 {
    font-size: 10px;
}

.center-card-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.progress-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(230, 228, 228) 65%, transparent 90% 100%),
      conic-gradient(#717CF3 81%, transparent 0);    
}

.progress-bar1::before {
    content: "81%";
}

.progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(230, 228, 228) 65%, transparent 90% 100%),
      conic-gradient(#717CF3 62%, transparent 0);    
}

.progress-bar2::before {
    content: "62%";
}

.progress-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(230, 228, 228) 65%, transparent 90% 100%),
      conic-gradient(#717CF3 44%, transparent 0);    
}

.progress-bar3::before {
    content: "44%";
}

.title-orders {
    display: flex;
    width: 93%;
    padding-top: 1%;
}

.recent-orders {
    font-size: 14px;
    margin: 0%;
    font-size: medium;
}

.center-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

table {
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 5%;
    opacity: 70%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr:hover {
    background-color: #7881F0;
    opacity: 100%;
    cursor: pointer;
}

th, td {
    border-bottom: 1px solid #000;
}


th {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    opacity: 100%;
}

td {
    color: #3b3b3b;
    text-align: center;
    font-size: 12px;
    opacity: 100%;
}

#td-colored1 {
    color: blue;
}

#td-colored2 {
    color: orange;
}

#td-colored3 {
    color: red;
}

#table-details {
    text-decoration: none;
}

.expand-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
}

#show-all {
    text-decoration: none;
    color: #717CF3;
    font-size: 10px;
}

.right-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0%;
    right: 0%;
    width: 20%;
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px purple; /* Ao se comentar esta linha a bordar some */
}

@media  (max-width: 865px) {
   .left-menu {
    display: none;
   }

   .right-menu {
    display: none;
   }

   .nav-bar {
    width: 100%;
   }

   .center {
    width: 100%;
    left: 0%;
   }

   .p2 {
    font-size: 10px;
   }
}
.nav-bar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar .titulo{
    display: block;
    justify-content: center;
    font-weight: bold;
    font-weight: 700;
}

.nav-bar .topodir1{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.nav-bar .topodir1 img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.topodir1 .nome{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.topodir1 .nome p{
    position: absolute;
    top: 44px;
}
.nav-bar .topodir1 span:hover{
background-color: blueviolet;
color: white;
cursor: pointer;
border-radius: 5px
}



