body {
    font-family: sans-serif;
    /* margin: 0%; Ao término de tudo, zerar a margem */
}

.main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 97vw;
    height: 98vh;
    border: solid 2px black; /* Ao se comentar esta linha a bordar some*/
}

.nav-bar {
    display: flex;
    position: relative;
    width: 85%;
    height: 10%;
    border: solid 2px green; /* Ao se comentar esta linha a bordar some*/
}

.left-menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border: solid 2px red; /* Ao se comentar esta linha a bordar some*/
    display: none;
}

.center {
    display: flex;
    position:absolute;
    bottom: 0%;
    left: 15%;
    width: 64.5%; /* Quando deletar a borda, arredondar para 65% */
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px blue; /* Ao se comentar esta linha a bordar some*/
}

.right-menu {
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0%;
    right: 0%;
    width: 20%;
    height: 89%; /* Quando deletar a borda, arredondar para 90% */
    border: solid 2px purple; /* Ao se comentar esta linha a bordar some */
    display: none;
}

.nav-bar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar .titulo{
    display: block;
    justify-content: center;
    font-weight: bold;
    font-weight: 700;
}

.nav-bar .topodir1{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}

.nav-bar .topodir1 img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    
}
.topodir1 .nome{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.topodir1 .nome p{
    position: absolute;
    top: 44px;
}
.nav-bar .topodir1 span:hover{
background-color: blueviolet;
color: white;
cursor: pointer;
border-radius: 5px
}
@media screen and(max-width: 768px){
    .nav-bar{
        width: 100%;
        flex-direction: column;
    }
}


